// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #8d86c9;
$yellow: #f4cb6d;
$orange: #f5672a;
$green: #8fde6b;
$gray: #0e0000;
$light-gray: #f4f4f4;
$purple: #341b3b;
$light-yellow: #fedd92;
