@import url("https://fonts.googleapis.com/css?family=Montserrat");

.header {
  text-align: center;
}

.main-title {
  font-weight: 500;
  font-size: 46px;
  line-height: 1.3;
  color: $light-yellow;
  text-shadow: 4px 5px 4px rgba(245, 103, 42, 0.6);
  padding: 40px 0 25px 0;
  align-self: center;
  position: relative;
  top: 50px;
  display: inline-block;
  h1 {
    transform: rotate(-12deg);
  }
}

.collapse {
  background-color: #a2de96;
  border: none;
  outline: none;
  font-size: 25px;
}

.active,
.collapse:hover {
  background-color: #438a5e;
}

.collapsible-text {
  background-color: #e1ffc2;
  display: none;
  font-size: 20px;
}

.container {
  padding: 32px;
}

.scroll-container {
  // overflow-y: scroll; /* can be auto or scroll */
  // -webkit-overflow-scrolling: touch; /* adds momentum scrolling for iOS*/
  height: 200vh;
}

.hidden {
  display: none;
}
