.container-step-3 {
  color: #fff;
  padding-bottom: 1.6rem;
  &:not(.container-unique-actor) {
    padding-top: 1.6rem;
  }
}

.container-unique-actor {
  background: $yellow;
}
.final-actor__picture {
  --borderWidth: 20px;
  padding: var(--borderWidth);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}

.final-actor__picture__img {
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  height: 100%;
  width: 100%;
}

.final-actor__name {
  color: $light-gray;
  text-shadow: 0.05em 0.05em black;
  position: -webkit-sticky;
  position: sticky;
  position: absolute;
  margin: 0;
  bottom: 3rem;
  left: 3rem;
}

.final-actor__details {
  &.closed &__biography {
    height: 270px;
  }

  &__gradient {
    display: none;
  }
  &.closed &__gradient {
    display: block;
  }

  .btn--show-more {
    display: none;
  }

  &.closed {
    .btn--show-less {
      display: none;
    }
    .btn--show-more {
      display: block;
    }
  }
}

.final-actor__details__biography {
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: var(--size-600);
  color: #000;
}

.final-actor__details__gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0), $yellow);
  z-index: 1;
  height: 200px;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
