.container-step-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url(image_path("cover-square.jpg"));
  background-size: contain;
  background-repeat: repeat-y;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.block--explanation {
  background-color: var(--color-background);
  padding: 2.4rem 0;

}

.tag-line {
  letter-spacing: 1px;
  background-image: url(https://media.giphy.com/media/kaCZPvyS4LyOZ3Ywu9/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
  text-transform: uppercase;
  font-size: var(--size-700);
  font-weight: 200;
  margin: 0;
  text-shadow: var(--box-shadow-small);
}

.form-face-recognition{
  margin: 4rem 0;
  text-align: center;

  label{
    cursor: pointer;
  }

  img{
    width: 50px;
    height: auto;
  }

  .file-input{
    display: none;
  }

  .fas{
    font-size: 4em;
    color: $yellow;
  }
}