<% placeholder = "Type another movie..." %>

<%= text_field_tag 'movie-input', nil, placeholder: placeholder, autocomplete: 'off' %>

<div id="movie-suggestions"
     data-tmdb-api-key="<%= ENV['TMDB_KEY'] %>">
</div>
