  <a href="<%= show_actor_url(actor['id']) %>" class="actor">
    <% if actor['profile_path'] %>
      <% img_url = "https://image.tmdb.org/t/p/w200/#{actor['profile_path']}" %>
      <img class="actor__img" src=<%= img_url %> >
    <% else %>
      <%= image_tag("placeholder.jpg", alt: "", class: 'actor__img') %>
    <% end %>

    <h3 class="actor__title"><%= actor["name"]%></h3>
  </a>
