<% # change button icon here %>
<%= form_with url: recognition_url, method: :post, class: "form-face-recognition" do |form| %>
    <label for="picture"><%= icon("fas", "camera", class: "icon-img-upload") %></label>
    <%= form.file_field :picture, class: "file-input" %>
<% end %>
