<div class="final-actor">
    <% image_url = "https://image.tmdb.org/t/p/w500#{actor["profile_path"]}" %>

    <div class="final-actor__picture">
      <div class="final-actor__picture__img" style="background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(<%= image_url %>);"></div>
        <h1 class="final-actor__name"><%= actor["name"] %></h1>
    </div>


    <div class="final-actor__details inner closed">
        <div class="final-actor__details__biography">
            <p><%= actor["biography"] %></p>
            <div class="final-actor__details__gradient"></div>
        </div>
        
        <button class="btn btn--show-more">See more</button>
        <button class="btn btn--show-less">See less</button>
    </div>
</div>
<script>
document.addEventListener("turbolinks:load", () => {
  initConfetti();
});
</script>
