.actor {
  position: relative;
}

.actor__img {
  box-sizing: border-box;
  border-radius: 6px;
  border: 2px solid white;
  width: 100%;
  height: auto;
  display: block;
}

.actor__title {
  position: absolute;
  bottom: 16px;
  left: 16px;
  color: white;
  font-size: var(--size-700);
  text-shadow: 0.02em 0 black, 0 0.02em black;
  margin: 0;
}

// #cast-subtitle-section {
//   text-align: center;
//   h2 {
//     text-shadow: 2px 3px 4px $purple;
//     color: $light-gray;
//     opacity: 0.9;
//     margin: 0 auto;
//     padding: 8px 0;
//     font-size: 24px;
//     font-weight: 400;
//   }

//   .subheading {
//     text-align: left;
//     h2 {
//       margin: 0;
//       text-shadow: 2px 3px 4px rgba(245, 103, 42, 0.8);
//       opacity: 1;
//     }
//   }
// }

// #cast-section {
//   text-align: center;
// }
