:root {
  // --font-body: "Oswald", "Helvetica", "sans-serif";
  --font-headings: "Oswald", "Helvetica", "sans-serif";
  --color-background: #f4cb6d;
  --measure: none;
  --box-shadow-small: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

  --box-shadow-large: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  font-size: 12px;
}

p,
li,
h1,
h2,
h3,
h4 {
  max-width: none;
}

h1,
.h1-like,
h2,
.h2-like,
h3,
.h3-like,
h4,
.h4-like {
  font-weight: 400;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: var(--size-400);
  line-height: inherit;
  height: var(--form-field-height);
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  font-size: var(--size-500);
}

.container {
  max-width: 60rem;
  margin: 0 auto;
  background-image: linear-gradient(
    #341b3b 32.01%,
    var(--color-background) 65.72%
  );
  background-color: var(--color-background);
  background-repeat: no-repeat;
  min-height: 100vh;
  box-shadow: var(--box-shadow-large);
  position: relative;
}

.inner {
  padding: 0 var(--size-800);
}

.header {
  text-align: center;
  margin-top: 4rem;
}

.main-title {
  line-height: 1.3;
  color: $light-yellow;
  text-shadow: 4px 5px 4px rgba(245, 103, 42, 0.6);
  padding: 40px 0 25px 0;
  align-self: center;
  display: inline-block;
  h1 {
    font-size: var(--size-900);
    font-weight: 500;
    transform: rotate(-12deg);
    text-align: left;
    display: inline-block;
  }
}

.hidden {
  display: none;
}

.btn {
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px;
  display: inline-block;
  border-radius: 4px;
  background-color: rgba(52, 27, 69, 0.8);
  color: $light-gray;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border: none;
  &:hover,
  &:focus {
    opacity: 0.9;
  }
}
