<% content_for :class do %>
  container-step-2
<% end %>

<%= render "shared/movie", movie: @movie %>


<div>  
    <%= render "shared/forms/movie_input" %>
</div>

  <div id="cast-section">
    <% @display_actors.each do |actor| %>
      <%= render "shared/actor", actor: actor %>
    <% end %>
  </div>

