<% content_for :class do %>
  container-step-1
<% end %>

<div>
  <%= render "shared/global/header" %>

  <div class="inner">  
      <%= render "shared/forms/movie_input", placeholder: "Type a movie name" %>
      <%= render "shared/form_face_recognition" %>

  </div>
</div>

<div class="block--explanation">
  <div class="inner">
    <p class="tag-line">
        Write down a movie name or upload an actor's picture and we'll find their name for you !
    </p>
  </div>
</div>

